@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&display=swap");

:root {
  --main-color: #022988;
  --primary-color: #7f4343;
  --black: #13131a;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #a50505;
}

section {
  padding: 3rem 7%;
}
/* nav */
.mainnav,
.mainnav a.navbar-brand i,
.mainnav .navbar-nav .nav-link,
.mainnav .input-group input,
.mainnav .input-group-text i {
  font-size: 1.6rem;
}

.mainnav a.navbar-brand {
  font-size: 1.9rem;
}
.mainnav .active {
  color: #a50505 !important;
}

.mainnav .active::after {
  content: "";
  background-color: #a50505;
  height: 2px;
  display: block;
  margin-top: 5px;
}

/* about */

.heading {
  font-size: 3rem;
  margin: 4rem 0;
  color: var(--primary-color);
  text-align: center;
}
.read-more-btn {
  margin-top: 1rem;
  background: #7f4343;
  color: #fff;
  display: inline-block;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem 4rem;
  font-size: 1.7rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-decoration: none;
}

.read-more-btn::before,
.read-more-btn::after {
  font-family: "Playfair Display", sans-serif;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #bd394c;
  z-index: -1;
  transition: 0.3s linear;
}

.read-more-btn::before {
  left: 0;
}

.read-more-btn::after {
  right: 0;
}

.read-more-btn:hover::before,
.read-more-btn:hover::after {
  width: 100%;
}

.about.content h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-bottom: 2rem;
}
*/

/* about */

.about .row {
  font-family: "Playfair Display", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--primary-color);
  padding: 1rem 0;
}

.heading {
  font-family: "Playfair Display", sans-serif;
  font-weight: bolder;
}

.about .row .content p {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.4rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 2;
}

.about ul li {
  font-size: 1.7rem;
  color: var(--main-color);
  padding-top: 1.5rem;
}

.about ul li i {
  font-size: 2rem;
  color: var(--primary-color);
  padding-right: 1rem;
}

.about .row .content .btn {
  margin: 3rem 0;
}

.about .row .image {
  flex: 1 1 30rem;
}

.about .row .image img {
  width: 100%;
  height: 100%;
}

/* contact */

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .image {
  flex: 1 1 30rem;
}

.contact .row .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 50rem;
  padding: 5rem;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  font-family: "Playfair Display", sans-serif;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 100%;
  background-color: #f1e4e4;
}

.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

.message-btn {
  font-family: "Playfair Display", sans-serif;
  margin-top: 1rem;
  background: #7f4343;
  color: #fff;
  display: inline-block;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem 4rem;
  font-size: 1.7rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-decoration: none;
}

.message-btn::before,
.message-btn::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #bd394c;
  z-index: -1;
  transition: 0.3s linear;
}

.message-btn::before {
  left: 0;
}

.message-btn::after {
  right: 0;
}

.message-btn:hover::before,
.message-btn:hover::after {
  width: 100%;
}

/* footer */

/* .footer {
  background: #eee5e6;
  text-align: center;
} */
.credit {
  font-size: 1.6rem;
  padding: 1.5rem;
  text-align: center;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
